/* тело сайта */
body {
    background: mistyrose; /* фон */
    font-family: 'Anton', sans-serif;
    margin: 0; /* внешние отступы у элемента */
    padding: 0; /* внутренние отступы у элемента */
    font-size: 16px;
    line-height: 1.6; /* межстрочный интервал */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase; /* задает верхний регистр для текста */
}

h2{
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
}

a {
    text-decoration: none; /* убирает подчеркивание текста (у ссылок) */
    color: #FFFF;
}

ul, li {
    display: block; /* блочный тип элемента. Каждый элемент начинается с новой строки и занимает 100% ширины по умолчанию */
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto; /* внешние отступы сверху и снизу, справа и слева */
}

/*описание шапки страницы*/
.header {
    background: url("intro.jpg") no-repeat center top / cover;
    padding-bottom: 80vh;
    color: #FFFF;
}

.menu {
    display: flex; /* выстраивает элементы в полоску */
    margin-left: auto;
}

.menu li a{
    text-transform: uppercase; /* задает верхний регистр для текста*/
    text-decoration: none; /* убирает подчеркивание текста*/
    font-size: 14px;
    margin-right: 20px;
    letter-spacing: 0.1em; /* отступ между символами*/
    font-weight: 500;
    padding: 8px 25px; /* внутренний отступ (сверху и снизу, справа и слева) */
    border: 2px solid #FFFF; /* задает границу со всех сторон (размер/тип/цвет) */
    transition: all 0.5s ease; /* анимация значений со скоростью и обычным переходом */
}

.menu li a:hover{ /* hover - наведение */
    background: #FFFF;
    color: black;
}

.nav {
    display: flex; /* определяет расположение дочерних элементов (в строку)*/
    align-items: center; /* выравнивание в центре поперечной оси*/
    padding-top: 30px; /*задает внутренний отступ сверху у элемента*/
}

.logo{
    font-size: 50px; /* размер логотипа */
    font-weight: 800; /* толщина шрифта */
    color: #4C4C4C;
    font-family: "Brush Script MT", sans-serif;
}

/* Контейнер. Необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none; /* не отображается */
    position: absolute;
    background-color: #FFFF;
    min-width: 200px;
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

.offer {
    text-transform: uppercase; /* задает верхний регистр для текста*/
    margin-top: 200px; /* отступ сверху*/
    color: #FFFF;
    text-shadow: 1px 1px 1px #000;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em; /* отступ между символами*/
    margin: 10px auto;
}

.offer h1 {
    font-size: 80px;
    margin-bottom: 19px; /* отступ снизу*/
    letter-spacing: 0.02em; /* отступ между символами*/
    margin-top: -25px;
}

.description {
    display: flex;
    justify-content: space-between; /*выравнивание элементов (оставшееся пространство распределяется между элементами*/
}

.desc-left, .desc-right{
    width: 568px;
}

.description p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify; /*выравнивание текста (по левому и правому краям за исключением последней строки)*/
}

.gallery{
    margin: 67px 0;
}

.gallery-top, .gallery-bottom {
    justify-content: space-around;
    display: flex;
    padding: 25px 0;
}
.gallery-top img, .gallery-bottom img {
    border: 4px solid #FFFF;
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-bottom: 40px;
}

.footer-text a {
    color: black;
}

.footer-text p {
    margin-right: 60px;
}

/* Messenger */
.header-msg {
    background: url("intro.jpg") no-repeat center top / cover;
    padding-bottom: 25px;
}

/* Оформление иконок для сообщений и пользователей*/
.container-msg {
    border: 2px solid #dedede;
    background-color: seashell;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Потомок предыдущего (особые характеристики для второго пользователя)*/
.darker {
    border-color: #ccc;
    background-color: lavenderblush;
}

.container-msg::after {
    content: "";
    clear: both;
    display: table;
}

/* Внешний вид аватарок */
.container-msg img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

input {
    font-size: 16px;
    vertical-align: middle;
    background:#4C4C4C;
    margin: 18px auto;
    height: 25px;
    width: 25%;
    color: #FFFF;
}

.user1_form-submit, .user2_form-submit, .user3_form-submit {
    width: 15%;
}

.user1_form-input, .user2_form-input, .user3_form-input {
    background: #FFFF;
    color: black;
}

/*Игра "Ударь крота"*/

.info {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.start {
    padding: 8px;
    color: #FFFF;
    background: #4C4C4C;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 0.1em; /* отступ между символами */
}

.dimension {
    margin: 40px;
}

.score{
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 40px;
    margin: auto 20px;
}

.field {
    place-content: center;
    width: 320px;
    height: 310px;
    border: 2px solid #4C4C4C;
    background-color: seashell;
    border-radius: 10px;
    margin: auto;
}

.field-cell {
    margin: 10px;
    display: flex;
    place-content: center;
}

.cell{
    background-color: mistyrose;
    border-radius: 100px;
    padding: 10px;
    margin: 15px;
    width: 35px;
    height: 35px;
}

.show {
    display: flex;
    place-content: center;
    margin: 20px;
}

.dropping, .initialize {
    padding: 8px;
    color: #FFFF;
    background: #4C4C4C;
    margin: auto 10px;
    font-size: 20px;
    letter-spacing: 0.1em; /* отступ между символами */
}

.end {
    text-align: center;
    margin: 15px;
}

/*Галлерея*/
.image_area {
    margin: 50px 0;
    justify-content: space-around;
    display: flex;
}

img {
    border: 4px solid #FFFF;
}

